[% title = 'Copyright Statement' %]

<p>All Content Copyright (c) 2009, Sam Vilain.  All Rights Reserved.
My words are free; you may copy them subject to the terms of the
Creative Commons Attribution Share-Alike License.

<p>Below follows the Creative Commons Attribution Share-Alike license.
  Trolls take particular note of clause 2.7.

<pre>
[% file='licenses/CC-Attribution-ShareAlike.txt'; INCLUDE $file %]
</pre>
