[% title = "git db scalability" %]

<h2>The goal</h2>

Hopefully, the basic layers will be simple enough to be a useful
back-end for SQLite or embedded uses.  A a traditional multi-user
RDBMS might want to use layers 1 through 5 as a backing store; a
distributed computing system might use all of them.

<h2>Embedded use cases</h2>

<h2>SQLite use case</h2>

<h2>RDBMS use case</h2>

<h2>Clustered RDBMS use case</h2>

<h2>Partitioned BASE ('sharded') use case</h2>
